@font-face {
    font-family: 'CommerceBlackCondSSi-Italic';
    src: url('CommerceBlackCondSSi-Italic.ttf');
}
@font-face {
    font-family: 'KabelITCBQ-Bold';
    src: url('KabelITCBQ-Bold.otf');
}
@font-face {
    font-family: 'SpecialAlphabetsP10';
    src: url('SpecialAlphabetsP10.otf');
}